{% extends 'back/master.html'%}


{% block mainblock %}
{% load static %}
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head">
    		<h2>Add news</h2>
            
            <!----------Form -------->
        
<!-- Default form contact -->
<form class="text-center border border-light p-5" method="post" action="{% url 'add_news' %}">
               {% csrf_token %}
    <p class="h4 mb-4">Add news</p>

    <!-- Name -->
    <input type="text" id="titlenews" name="titlenews" method="post" class="form-control mb-4" placeholder="Title of news">

    <!-- Subject -->
    <label>Category</label>
    <select class="browser-default custom-select mb-4" id="catname" name="catname">
        <option value="" disabled>Choose category...</option>
        {% for i in cat %}
        <option value="{{i.name}}" selected>{{i.name}}</option>
        {% endfor %}
    </select>

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="body" name="body" rows="3" placeholder="Body"></textarea>
    </div>
     <!----FileUpload-->

  <div class="file-field">
    <div class="btn btn-primary btn-sm float-left">
     
      <input type="file"  id="myfile" name="myfile">
    </div>
  
  </div>
<br/>
    <!-- Author -->

<input type="author" id="author" name="author" class="form-control mb-4" placeholder="author">

    <input type="timestamp" id="timestamp" name="timestamp" class="form-control mb-4" placeholder="YYYY-MM-DD HH:MM:ss">
    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit" value="add">Add</button>

</form>

<!-- Default form contact -->

    	</div>

   <div class="clearfix"> </div>
    </div>
</div>
{% endblock %}





